{% extends 'base_generic.html' %}

{% block title %}Home Page{% endblock title %}

{% block custom_css %}
    <style>
        /* Add additional styles specific to the index page */
        /* For example, you can add styles for the content within the block content */
        .custom-style {
            color: blue;
        }
    </style>
{% endblock custom_css %}

{% block content %}
    <div class="container mt-4">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    
        {% if books %}
            <!-- Displaying search results -->
            <div class="book-grid mt-4">
                {% for book in books %}
                    <div class="book-item custom-style">
                        <img class="book-img" src="{{ book.coverImg }}" alt="Cover image for {{ book.title }}">
                        <a href="{% url 'book_detail' book_id=book.id %}">
                            <h5>{{ book.title }}</h5>
                            <p>By: {{ book.author }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    
        {% if books_by_genre %}
            {% for genre, genre_books in books_by_genre.items %}
                <h2 class="genre-label">{{ genre }}</h2>
                <div class="book-grid">
                    {% for book in genre_books %}
                        <div class="book-item custom-style">
                            <img class="book-img" src="{{ book.coverImg }}" alt="Cover image for {{ book.title }}">
                            <a href="{% url 'book_detail' book_id=book.id %}">
                                <h5>{{ book.title }}</h5>
                                <p>By: {{ book.author }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}

{% block custom_js %}
    <!-- Add additional JavaScript specific to the index page -->
    <script>
        // Your custom JavaScript code goes here
    </script>
{% endblock custom_js %}
